.App-MatterItem-PC {
    overflow: auto;
    padding: 1em;
    color: whitesmoke;
    background-image: linear-gradient(to bottom, #333, #555);
}

.App-MatterItem-PC {
    width: 300px;
    height: calc((100% - 200px) / 2);
    left: 0;
    top: 200px;
}